.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  border-radius: 50%;
}

.friends-icon,
.bookmarks-icon {
  float: right;
  margin-left: 5px;
  vertical-align: middle;
}

.messages-icon {
  float: right;
  vertical-align: middle;
  margin-left: 5px;
}
